body {
    height: 100%;
}
#map {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
}

.content {
    z-index: 2;
    padding: 1em;
}

#search-box:focus {
    outline: none;
}
#search-boxB:focus {
    outline: none;
}

.fa {
    font-size: 1.2em;
    cursor: pointer;
}

.fa:hover {
    color: #679df6 !important;
}

#logo {
    position:absolute;right:5;
}

li {
    list-style-type: none;
    list-style-position: inside;
    text-indent: -1em;
    padding-left: 1em;
    padding-top: 0.3em;
}

#results {
    background: white;
    border: 3;
    margin-left: 1em;
    margin-top: 5px;
    border: 0;
    border-radius: 5px;
    max-height: 75%;
    overflow-y: scroll;

}

.dir-step {
    margin-bottom: 0.5em;
}

ul {
    margin-bottom: 0.5em;
}

#routesDisplay {

    overflow-y:scroll;
}
/* Mobile */
@media only screen and (max-width: 768px) {
    #logo {
        bottom: 8;
        right: 0;
    }
    #results {
        max-height: 72%;
    }
    #routesDisplay {
        display: none;
    }
}

/*Help Icon*/
.tooltip.top {
   max-width: 11em;
}
